body {
    background-image: url('https://img.freepik.com/free-vector/white-abstract-wallpaper_23-2148830026.jpg');
    color: #c077d1;
    margin: 0;
}

.content {
    margin: 100px;
    min-height: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 100px;
}

.about {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    font-weight: bolder;
    font-size: 30px;

    h4 {
        color: #28a745;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    li {
        margin-bottom: 8px;
    }
}