footer {
    background: #c077d1 !important;
    color: #fff !important;
    position: sticky !important;
    width: 100% !important;
    height: 40px !important;
    text-align: center !important;
    display: flex !important;
    justify-content: space-between !important;
    padding-top: 10px;
}

footer .left,
footer .center,
footer .right {
    flex: 1 !important;
}

a {
    text-decoration: none !important;
    color: inherit !important;
}

a:hover {
    text-decoration: none !important;
}

.title {
    color: #e086d4;
}

.content {
    opacity: 0;
    transform: translateY(100%);
    animation: revealPage 1s ease-out forwards;
}

@keyframes revealPage {
    from {
        opacity: 0;
        transform: translateY(100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}