body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #ffffff, #8bd987, #ffffff);
}

.content {
    margin: 100px;
    min-height: 900px;
    box-shadow: 0 4px 6px rgba(0.9, 0.9, 0.9, 0.9);
    background: linear-gradient(to top, #869be0, #ffffff);
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 100px;
}