body {
    margin: 0;
    background-image: url('https://img.freepik.com/free-vector/white-abstract-wallpaper_23-2148830026.jpg');
    color: #c077d1;
    accent-color: #77b573;
}

.content {
    margin: 100px;
    min-height: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    color: #83528e;
    background-image: url('https://pngimg.com/d/sticky_note_PNG18905.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 900px;
    width: 900px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 30px;
    padding-top: 200px;
}

#search-filter {
    padding-top: 70px;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
}

.search-text {
    height: 50px;
    border-radius: 20px;
    font-size: large;
    padding-left: 10px;
    border: solid #db89ed;
}

#filters {
    font-size: large;
    color: #fff;
    margin-top: 80px;
}

#searchButton {
    background-color: #77b573 !important;
    padding: 10px;
    font-family: "Merienda", cursive !important;
}

#searchButton:hover {
    background-color: #c077d1 !important;
    padding: 10px;
}

.top {
    text-decoration: underline;
}

.mid {
    font-style: italic;
    padding: 0 10px 10px 0;
    font-size: 20px;
}

.bottom {
    font-size: 60px;
    font-weight: 700;
}

.cc {
    max-width: 800px;
    max-height: 600px;
    margin: 100px auto auto auto;
}

.controls {
    text-align: center;
    background-color: #db89ed;
    width: 700px;
    height: 400px;
    padding-top: 50px;
    border-radius: 20px;
}

.searched {
    padding-top: 100px;
    color: white;
    font-size: 40px;
    font-weight: bold;
}