body {
    margin: 0;
    font-family: sans-serif !important;
    background-image: url('https://img.freepik.com/free-vector/white-abstract-wallpaper_23-2148830026.jpg');
    color: #c077d1;
    accent-color: #c077d1;
}

.content {
    margin: 100px;
    min-height: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    color: #c077d1;
    background-image: url('https://pngimg.com/d/sticky_note_PNG18905.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 900px;
    width: 900px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 30px;
    padding-top: 200px;
}

#search-filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    gap: 400px;
    font-weight: 700;
}

.search-text {
    height: 50px;
    border-radius: 20px;
    font-size: large;
}

#filters {
    font-size: large;
    color: #77b573;
}

#searchButton {
    background-color: #77b573 !important;
    padding: 10px;
}

#searchButton:hover {
    background-color: #c077d1 !important;
    padding: 10px;
}

.top {}

.mid {
    font-style: italic;
    padding: 0 10px 10px 0;
}

.bottom {}

.cc {
    max-width: 800px;
    max-height: 600px;
    margin: 100px auto auto auto;
}