body {
    margin: 0;
    color: #c077d1;
}

.content {
    margin: 100px;
    min-height: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.accordion-container {
    width: 900px;
    margin-top: 100px;
}

.bootstrap-container {
    background-color: transparent !important;
}

.accordion {
    width: 900px;
    margin-top: 125px;
}

.accordion-item {
    margin-bottom: 30px;
    background-color: transparent !important;
    border-color: transparent;
}

.accordion-button {
    color: #ffffff !important;
    background-color: #8BD987 !important;
    font-weight: bolder !important;
}

.accordion-collapse {
    background-color: #c077d1 !important;
    color: #ffffff;
    font-weight: 500;
}


.carousel {
    color: #c077d1;
    font-size: larger;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #8BD987;
}

#message {
    color: #c077d1;
    font-weight: 700;
}

.btn-primary {
    background-color: #8BD987 !important;
}

.s {
    min-height: 270px;
    display: grid !important;
    place-items: center !important;
}

.card-title {
    font-weight: bolder;
}