body {
    margin: 0;
    accent-color: #c077d1;
    color: #c077d1;
    background-image: url('https://img.freepik.com/free-vector/white-abstract-wallpaper_23-2148830026.jpg');
}

.content {
    margin: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 100px;
    background-image: url('https://static.vecteezy.com/system/resources/previews/011/421/103/original/spiral-notepad-mockup-png.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    min-height: 1000px;
}

form {
    width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: transparent;
    border-radius: 8px;
    padding-right: 100px;
}

label {
    display: block;
    margin-bottom: 8px;
    margin-top: 20px;
    font-weight: 900;
}

input[type="text"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

select {
    height: 38px;
}

.buttons-container {
    display: flex;
    justify-content: center;
    gap: 50px;
}