body {
    font-style: normal;
    margin: 0;
    color: #c077d1;
    accent-color: #c077d1;
}

.content {
    margin: 100px;
    min-height: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-card {
    color: #83528e;
    background-image: url('https://pngimg.com/d/sticky_note_PNG18905.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 900px;
    width: 900px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 30px;
    padding-top: 200px;
    display: grid;
    place-items: center;
}

.top {
    text-decoration: underline;
    font-size: 30px;
    font-weight: 900;
}

.mid {
    font-style: italic;
    padding: 0 10px 10px 0;
    font-size: 20px;
}

.bottom {
    font-size: 25px;
    font-weight: 700;
}

.cc {
    max-width: 800px;
    max-height: 600px;
    margin: 100px auto auto auto;
}

.reply-card {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: inline-block;
    width: 500px;
    height: 500px;
    margin: 75px;
    background-image: url('https://pngimg.com/uploads/sticky_note/sticky_note_PNG18926.png');
    text-align: center;
    font-size: larger;
    font-weight: 700;
    display: grid;
    place-items: center;
}

.cr {
    height: 340px;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.reply-row-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.input-container {
    margin: 20px;
    padding: 20px;
    background-color: #db89ed;
    background-size: contain;
    height: 100px;
    width: 600px;
    text-align: center;
    border-radius: 20px;
}

#replyInput {
    border: 1px solid #db89ed;
    border-radius: 5px;
    height: 50px;
    width: 300px;
    padding-left: 10px;
    font-weight: 600;
    color: #000;

}

.bottom {
    margin-bottom: 80px;
}

.b {
    font-size: 15px;
}

.t {
    font-size: 25px;
}