body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #ffffff, #8bd987, #ffffff);
}

.content {
    margin: 100px;
    min-height: 900px;
    box-shadow: 0 4px 6px rgba(0.9, 0.9, 0.9, 0.9);
    background: linear-gradient(to top, #869be0, #ffffff);
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 100px;
}

.post-card {
    background-color: rgb(113, 168, 62);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
    margin: 20px;
}

.post-card-header {
    background-color: rgb(113, 168, 62);
    font-weight: bold;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 500px;
    padding: 10px;
}

.post-card-body {
    padding: 20px;
}

.reply-card {
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-bottom: 20px;
}

.reply-card-header {
    background-color: #007bff;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
}

.reply-card-body {
    padding: 15px;
}

.input-container {
    margin: 20px;
    gap: 20px;
}

#replyInput {
    border: 1px solid #ddd;
    border-radius: 5px;
    height: 20px;
    width: 300px
}