body {
    margin: 0;
    font-family: sans-serif !important;
    background-image: url('https://img.freepik.com/free-vector/white-abstract-wallpaper_23-2148830026.jpg');
    color: #c077d1;
}

.content {
    margin: 100px;
    min-height: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pglogo {
    min-width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
}

form {
    text-align: center;
    min-width: 100px;
    margin-top: 75px;
}

input {
    min-width: 200px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="checkbox"] {
    transform: scale(2.5);
}

label {
    font-size: 25px;
    font-weight: 700;
}


input[type="submit"] {
    background-color: #c077d1;
    color: white;
    cursor: pointer;
    border: none;
    padding: 12px;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-size: 30px;
}

input[type="submit"]:hover {
    background-color: #8BD987;
}

.type {
    min-width: 500px;
    min-height: 50px;
    font-size: larger;
}

.message {
    font-size: 30px;
    font-style: italic;
}

.check {
    margin-bottom: 40px;
}