body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #ffffff, #8bd987, #ffffff);
}

.content {
    margin: 100px;
    min-height: 900px;
    box-shadow: 0 4px 6px rgba(0.9, 0.9, 0.9, 0.9);
    background: linear-gradient(to top, #869be0, #ffffff);
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 100px;
}

.pglogo {
    max-width: 900px;
    max-height: 900px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
}

form {
    text-align: center;
    max-width: 400px;
    width: 100%;
    margin-top: 75px;
}

label {
    display: inline-block;
    margin-bottom: 10px;
    color: #333;
    font-weight: 700;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="checkbox"] {
    margin-right: 5px;
    transform: scale(1.5);
}



input[type="submit"] {
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border: none;
    padding: 12px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}